.border {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(59, 59, 86);
}
body {
    background-color: black;
    color: rgb(212, 158, 158);
    text-align: center;
}
img {
    border-radius: 8px;
}

